body {
	background: white;
	opacity: 0.7;
	font: 12pt/1.4 "Roboto", serif;
	font-weight: 300;
	max-width: 640px;
	margin: 20px auto;
	padding:20px;
}
html { 
  background: url(photos/NACW-1946.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	
	color: black;
	font: "Roboto", serif;
	font-size: 30pt;
	font-weight: 300;
	margin-bottom: 20px;
}

#introparagraph {
	font-weight:300;
}

h2 {
	font: "Roboto", serif;
	font-size: 20pt;
	font-weight: 200;

}

.photo_credit {
	font: "Roboto", serif;
	font-size:10pt;
}